@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #c80641;
    --primary-color-dark: #c80641;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
    --gold-crayola: hsl(38, 61%, 73%);
    /* GRILLI*/
    :root {

      /**
       * COLORS
       */
    
      --gold-crayola: hsl(38, 61%, 73%);
      --quick-silver: hsla(0, 0%, 65%, 1);
      --davys-grey: hsla(30, 3%, 34%, 1);
      --smoky-black-1: hsla(40, 12%, 5%, 1);
      --smoky-black-2: hsla(30, 8%, 5%, 1);
      --smoky-black-3: hsla(0, 3%, 7%, 1);
      --eerie-black-1: hsla(210, 4%, 9%, 1);
      --eerie-black-2: hsla(210, 4%, 11%, 1);
      --eerie-black-3: hsla(180, 2%, 8%, 1);
      --eerie-black-4: hsla(0, 0%, 13%, 1);
      --white: hsla(0, 0%, 100%, 1);
      --white-alpha-20: hsla(0, 0%, 100%, 0.2);
      --white-alpha-10: hsla(0, 0%, 100%, 0.1);
      --black: hsla(0, 0%, 0%, 1);
      --black-alpha-80: hsla(0, 0%, 0%, 0.8);
      --black-alpha-15: hsla(0, 0%, 0%, 0.15);
    
      /**
       * GRADIENT COLOR
       */
    
      --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
      --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);
    
      /**
       * TYPOGRAPHY
       */
    
      /* font-family */
      --fontFamily-forum: 'Forum', cursive;
      --fontFamily-dm_sans: 'DM Sans', sans-serif;
    
      /* font-size */
      --fontSize-display-1: calc(1.3rem + 6.7vw);
      --fontSize-headline-1: calc(2rem + 2.5vw);
      --fontSize-headline-2: calc(1.3rem + 2.4vw);
      --fontSize-title-1: calc(1.6rem + 1.2vw);
      --fontSize-title-2: 2.2rem;
      --fontSize-title-3: 2.1rem;
      --fontSize-title-4: calc(1.6rem + 1.2vw);
      --fontSize-body-1: 2.4rem;
      --fontSize-body-2: 1.6rem;
      --fontSize-body-3: 1.8rem;
      --fontSize-body-4: 1.6rem;
      --fontSize-label-1: 1.4rem;
      --fontSize-label-2: 1.2rem;
    
      /* font-weight */
      --weight-regular: 400;
      --weight-bold: 700;
    
      /* line-height */
      --lineHeight-1: 1em;
      --lineHeight-2: 1.2em;
      --lineHeight-3: 1.5em;
      --lineHeight-4: 1.6em;
      --lineHeight-5: 1.85em;
      --lineHeight-6: 1.4em;
    
      /* letter-spacing */
      --letterSpacing-1: 0.15em;
      --letterSpacing-2: 0.4em;
      --letterSpacing-3: 0.2em;
      --letterSpacing-4: 0.3em;
      --letterSpacing-5: 3px;
    
      /**
       * SPACING
       */
    
      --section-space: 70px;
    
      /**
       * SHADOW
       */
    
      --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
    
      /**
       * BORDER RADIUS
       */
    
      --radius-24: 24px;
      --radius-circle: 50%;
    
      /**
       * TRANSITION
       */
    
      --transition-1: 250ms ease;
      --transition-2: 500ms ease;
      --transition-3: 1000ms ease;
    
    }
    
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat';
}
  .logo img{
    width: 5.5rem;

  }
  
  nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
  }
  
  .nav__bar {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #000;

  }
  
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__links {
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #c80641;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: -1;
  }
  .nav__links  li a {
    text-decoration: none;
    background-color: #c80641;
}
  .nav__links.open {
    transform: translateY(0);
  }
  
  .nav__links a {
    position: relative;
    isolation: isolate;
    padding-bottom: 8px;
    color: var(--white);
    transition: 0.3s;
  }
  
  .nav__btn {
    display: none;
  }
  
  .header__container {
    padding-block: 10rem 15rem;
  }
  
  .header__container p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
    opacity: 0.6;
  }
  
  .header__container h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: var(--white);
    text-align: center;
  }

  
  @media (width > 768px) {
    nav {
      padding: 2rem 1rem;
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .nav__bar {
      padding: 0;
      background-color: transparent;
    }
  
    .nav__menu__btn {
      display: none;
    }
    
    .nav__links {
      padding: 0;
      width: unset;
      position: static;
      transform: none;
      flex-direction: row;
      background-color: transparent;
    }
    
    .nav__links  li a {
        text-decoration: none;
        background-color: black;
    }
  
    .nav__links a::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: var(--primary-color);
      transition: 0.3s;
      transform-origin: left;
    }
  
    .nav__links a:hover::after {
      width: 100%;
    }

  }

/*  MENU  */


.menu .section-tittle{
  margin-block-end: 40px;
}

.menu .grid-list{
  margin-block-end: 50px;
}

.menu-card{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.hover\:card .card-banner{
  background-color: black;
}

.hover\:card .card-banner .img-cover{
  transition: 500ms ease;
}

.hover\:card:is(:hover, :focus-within) .card-banner .img-cover{
  opacity: 0.7;
  transform: scale(1.05);
}

.menu-card .card-banner{
  flex-shrink: 0;
  border-radius: 24px;
}

.menu-card .card-title{
  transition: 250ms ease;
}

.menu-card .card-title:is(:hover, :focus-visible){
  color: var(--primary-color);
}

.menu-card .badge {
  background-color: var(--primary-color);
  color: hsla(40, 12%, 5%, 1);
  max-width: max-content;
  line-height: 1.4em;
  text-transform: uppercase;
  padding-inline: 10px;
  margin-block-start: 10px;
}
.menu-card .span{
  color: var(--gold-crayola);
  margin-block: 10px;
}

.menu-card .card-text{
  color:  hsla(0, 0%, 65%, 1);
  line-height: 1.6em;
}

.menu-text .span{
  display: inline-block;
  color: var(--gold-crayola);
}

.menu .shape{
  display: block;
  width: 70%;
}

.menu .shape-2 {
  top: 0;
  left: 0;
}

.menu .shape-3{
  bottom: 0;
  right: 0;
}

.containerc { 
  padding-inline: 16px;
  margin-top: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

.grid-list {
  display: grid;
  gap: 40px;
}

.text-center{text-align: center;}
.headline-1 { font-size: var(--fontSize-headline-1); }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--eerie-black-4);
}

@media (min-width: 575px){
  .menu-card .title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .menu-card .badge { margin-block-start: 0; }

  .menu-card .span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  .menu-card .span::before {
    content: "";
    height: 6px;
    flex-grow: 1;
    border-block: 1px solid var(--white-alpha-20);
  }



  /**
   * EVENT
   */

  .event .containerc {
    max-width: 420px;
    margin-inline: auto;
  }

}

@media(min-width:768px){
  .grid-list { grid-template-columns: 1fr 1fr; }

  :is(.service, .event) .containerc { max-width: 820px; }

  :is(.service, .event) .grid-list li:last-child {
    grid-column: 1 / 3;
    width: calc(50% - 20px);
    margin-inline: auto;
}

}

@media(min-width:992px){
  :is(.service, .event) .containerc { max-width: unset; }

  :is(.service, .event) .grid-list { grid-template-columns: repeat(3, 1fr); }

  :is(.service, .event) .grid-list li:last-child {
    grid-column: auto;
    width: 100%;
  }

  .menu .grid-list {
    position: relative;
    column-gap: 90px;
  }

  .menu .grid-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border-inline-start: 1px solid var(--white-alpha-20);
  }
}

@media(min-width:1200px){
  .containerc,
  :is(.service, .event) .containerc {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }

  .menu .grid-list {
    gap: 55px 200px;
    margin-block-end: 55px;
  }
}


/* PAGINA PRINCIPAL HOME*/

.cont-bienvenidos{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  padding: 0;
  margin-top: 8rem;
}

.texto-bienvenidos{
  font-size: 1.2rem;
    word-spacing: 0.25rem;
    width: 80rem;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}


/* CONTENEDOR PORQUE ELEGIRNOS*/

.whyus-contenedor{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  padding: 0;
  margin-top: 4rem;
}



.texto-whyus{
  font-size: 1.2rem;
  word-spacing: 0.25rem;
  width: 80rem;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.texto-whyus li{
  list-style: none;
}

.mapa{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3rem;
}

.mapa2{
  display: none;
}

@media (width > 700px) {
  .mapa2{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
  }

  .mapa{
    display: none;
  }
  
}



/* FOOTER */


footer{
    
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  padding-top: 40px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}


.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.6rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(255, 255, 255);
}

.footer-bottom{
  background: #000;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


/* CARRUSEL */

.slider1{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-top: 4rem;
  position: relative;
  place-items: center;
  display: flex;
  z-index: 2;
}

.slide1-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slide1-track:hover{
     animation-play-state:paused ;
}

@keyframes scroll{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(calc(-250px * 10));
  }
}

.slide1 {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
} 

.slide1 img{
  width: 100%;
  transition: 1s;
  background: none;
}

.slide1 img:hover{
transform: translateZ(20px);

}



/* SLIDE HABITACIONES*/
